/*style.css*/

h2#yellow {
    color: yellow;
}
h1,h2,p {
    font-family: "Algerian",serif;
}
h1 {
    color: #f00;
    font-family: "Consolas",serif;
}
h1#blue {
    color: #00f;
}
p {
    height: 50px;
    background: #ddd;
    text-indent: 2em;
}
table {
     width:300px;
     height: 300px;
    border-width: 2px;
    border-style: solid;
    border-color: aqua;
 }
tr {
    background: #fcc;
}
td {
    width: 200px;
    text-align: center;
}

.red {
    color: red;
    border-radius: 20px;
}
#test {
    text-decoration: underline;
}

#nocolor {
    background: #fff;
    /*color: #fff;*/
}
